#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  flex: 1;
  display: flex;
}

.app-row {
  flex: 1;
}

.app-col {
  margin: 1rem 0;
}

.app-col textarea.form-control {
  height: 100%;
}

.app-col .card {
  height: 100%;
}
